$dark-white-color: #ffffff80;
$white-color: #fff;
$error-color: #f62828;

.paymentMenu {
    position: fixed;
    z-index: 2000;
    right: 0;
    top: 0;
    bottom: 0;

    max-width: 495px;
    width: 30vw;

    background-color: #121212;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    padding: 30px;

    overflow-y: auto;

    .paymentHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            font-size: 23px;
        }

        button {
            border: none;
            background: transparent;

            svg {
                font-size: 40px;
            }
        }
    }

    @media screen and (max-width: 1024px) {
        left: 0;
        top: 100px;
        right: 0;

        width: auto;
        max-width: unset;

        border-bottom-left-radius: unset;
        border-top-right-radius: 10px;
    }
}
