$dark-white-color: #ffffff80;
$main-font-color: #ffffffde;
$white-color: #fff;

.profileContent {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 84px;
    margin-top: 24px;

    .userBlock {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            align-self: start;
        }

        img {
            width: 20vw;
            height: 20vw;
            max-width: 300px;
            max-height: 300px;

            border-radius: 8px;

            @media screen and (max-width: 1280px) {
                width: 217px;
                height: 217px;
            }
        }

        p {
            margin-top: 24px;
            margin-bottom: 8px;
            font-size: 18px;
            color: $dark-white-color;

            @media screen and (max-width: 1280px) {
                margin-top: 25px;
                margin-bottom: 5px;
            }
        }

        h2 {
            margin-top: 8px;
            margin-bottom: 24px;
            font-size: 28px;

            @media screen and (max-width: 1280px) {
                margin-top: unset;
                margin-bottom: 23px;
            }

            @media screen and (max-width: 1024px) {
                font-size: 35px;
            }
        }

        .options {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 18px;
            width: 100%;

            button, a {
                &:first-child {
                    width: inherit;
                    height: 46px;
                    align-self: unset;
                }

                &:last-child {
                    border: 2px solid #848484;
                    background: transparent;
                    border-radius: 100px;
                    padding: 9px 11px;

                    svg {
                        font-size: 22px;
                        color: #adadad;

                        @media screen and (max-width: 1280px) {
                            font-size: 20px;
                        }
                    }

                    &:hover {
                        border-color: #ffffff;

                        svg {
                            color: #e2e2e2;
                        }
                    }
                }
            }
        }
    }

    .musicList {
        // margin-top: 45px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        width: 100%;

        .noMusicMessage {
            font-size: 23px;
            color: $dark-white-color;
            margin-top: 200px;

            @media screen and (max-width: 1024px) {
                margin-top: 139px;
                margin-bottom: 139px;
            }
        }
    }

    @media screen and (max-width: 1280px) {
        gap: 20px;
    }

    @media screen and (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
        margin-top: none;
    }
}
