.music_list{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    margin-top: 18px;
    overflow-x: scroll;
    justify-content: start;

    -ms-overflow-style: none;
    scrollbar-width: none;  
}