.miniButton{
    border-radius: 100px;
    border: 2px solid #848484;
    padding: 5px 7px;
    background: transparent;

    svg{
        font-size: 25px;
        color: #adadad;
    }
    
    &:hover{
        border-color: #FFFFFF;

        svg{
            color: #e2e2e2;
        }
    }
}