$music-item-color: #212121;
$music-item-hover-color: #3c3c3c;
$image-background-color: #212121;

.musicItem {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;

    padding: 15px;
    border-radius: 8px;

    background-color: $music-item-color;

    cursor: pointer;

    width: auto;

    .musicImage {
        width: 55px;
        height: 55px;
        background-color: $image-background-color;

        border-radius: 8px;

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .musicInfo {
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: left;

        span {
            &:first-child {
                font-size: 20px;
                font-weight: 400;
            }

            &:last-child {
                color: #ffffff80;
                font-size: 14px;
                font-weight: 100;
            }
        }
    }

    &:hover {
        background-color: $music-item-hover-color;
    }

    
    @media screen and (max-width: 1150px) {
        padding: 10px;
    }
}

.onList{
    width: 500px;

    @media screen and (max-width: 1150px) {
        width: 350px;
    }
}