$dark-white-color: #ffffff80;
$main-font-color: #ffffffde;
$white-color: #fff;

#root {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  
  .container {
    margin: 0 auto;
    width: calc(65% - 5rem);
    padding: 5vh 10vw;

    // ❤❤❤
    flex-grow: 1;

    .ErrorContent {
      height: 95%;
      align-content: center;

      h1,
      p {
        margin: 0;
      }

      h1 {
        font-size: 200px;

        @media screen and (max-width: 1150px) {
          font-size: 130px;
        }
      }

      p {
        font-size: 32px;

        @media screen and (max-width: 1150px) {
          font-size: 20px;
        }
      }

      button {
        margin-top: 61px;

        @media screen and (max-width: 1150px) {
          margin-top: 20px;
        }
      }
    }

    .content {
      margin-top: 64px;
      margin-bottom: 64px;

      .inProfilePage{
        display: block;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }

    .performersContent,
    .musicContent {
      text-align: left;

      .contentHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .scrollsOption{
          display: flex;
          gap: 15px;

          @media screen and (max-width: 768px) {
            display: none;
          }
        }
      }
    }

    .performersContent{
      margin-top: 65px;
    }

    @media screen and (max-width: 1150px) {
      width: calc(75% - 5rem);
    }

    @media screen and (max-width: 768px) {
      width: calc(100% - 5rem);
      padding: 30px 25px 100px 25px;
    }
  }
}

