@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');


:root {
  --font-color: rgba(255, 255, 255, 0.87);

  font-family: "Comfortaa", serif;
  font-optical-sizing: auto;
  font-style: normal;

  color-scheme: light dark;
  color: var(--font-color);
  background-color: #090909;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: "Comfortaa", serif;
  font-optical-sizing: auto;
  font-weight: 700;
}

a {
  font-weight: 500;
  color: var(--font-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--font-color);
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}