.performersList{
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    margin-top: 18px;
    justify-content: start;

    scroll-behavior: smooth;
    scroll-snap-align: center;

    -ms-overflow-style: none;
    scrollbar-width: none;  
}